.nav-top{
    .container{
        width: 60%;
        margin: 2% auto;
        .row{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .col-3{
                display: block;
                .nav-top-div{
                    align-items: center;
                    display: flex;
                    gap: 5%;
                    i{
                        font-size: 40px;
                    }
                    div{
                        h6{
                            font-size: 1.2rem;
                            color: $color-1;
                            font-family: $font-1;
                        }
                        p{
                            line-height: 1.7;
                            color: $color-2;
                            font-weight: 300;
                        }
                    }
                }
            }
            .col-md-12{
                i{
                    display: none;
                }
            }
            
        }
    }
}
.nav-bottom{ 
    display: block;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $color-3;
    padding: 30px 0px;
    .container{
        width: 40%;
        margin: 0px auto;
        ul{
            display: flex;
            justify-content: center;
            gap: 8%;
            li{
                a{
                    color: $color-4;
                    font-weight: bolder;
                    font-size: 18px;
                    font-family: $font-1;
                }
            }
            .first-li{
                position: relative;
            }
            .first-li::before{
                content: "";
                position: absolute;
                bottom: -5px;
                height: 2px;
                background: #fff;
                width: 100%;
            }
        }
    }
}
