* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
  font-family: "Mulish", sans-serif;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.col-4 {
  width: 33.333%;
}

.col-5li {
  width: 20%;
}

.col-8 {
  width: 66.666%;
}

.nav-top .container {
  width: 60%;
  margin: 2% auto;
}
.nav-top .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-top .container .row .col-3 .nav-top-div {
  align-items: center;
  display: flex;
  gap: 5%;
}
.nav-top .container .row .col-3 .nav-top-div i {
  font-size: 40px;
}
.nav-top .container .row .col-3 .nav-top-div div h6 {
  font-size: 1.2rem;
  color: #000;
}
.nav-top .container .row .col-3 .nav-top-div div p {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
}

.nav-bottom {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #1089ff;
  padding: 30px 0px;
}
.nav-bottom .container {
  width: 40%;
  margin: 0px auto;
}
.nav-bottom .container ul {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
.nav-bottom .container ul li a {
  color: white;
  font-weight: bolder;
  font-size: 18px;
}
.nav-bottom .container ul .first-li {
  position: relative;
}
.nav-bottom .container ul .first-li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  background: #fff;
  width: 100%;
}

main .section_1 .div-section1 {
  display: flex;
  flex-wrap: wrap;
  color: white !important;
  width: 100%;
  height: 100vh;
  filter: brightness(95%);
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/hero_2.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
main .section_1 .div-section1 .div-section2 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 90%;
}
main .section_1 .div-section1 .div-section2 div {
  margin-top: 20%;
}
main .section_1 .div-section1 .div-section2 div h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}
main .section_1 .div-section1 .div-section2 div p {
  margin: 5% 0px;
  font-size: 1.1rem;
  font-weight: bolder;
}
main .section_1 .div-section1 .div-section2 div button {
  width: 200px;
  height: 60px;
  color: white;
  background-color: #1089ff;
  border-radius: 5px;
  border: none;
}
main .section_1 .div-section1 .left-icon {
  display: flex;
  align-items: center;
  height: 90%;
}
main .section_1 .div-section1 .left-icon button {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  border: none;
}
main .section_1 .div-section1 .right-icon {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 90%;
}
main .section_1 .div-section1 .right-icon button {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  border: none;
}
main .section_1 .div-section1 .bottom-icon {
  height: 10%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .section_1 .div-section1 .bottom-icon img {
  width: 30px;
  height: 50px;
}

.section_2 .container {
  width: 60%;
  margin: 5% auto;
}
.section_2 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_2 .container .row .col-6 img {
  width: 100%;
  height: 100%;
}
.section_2 .container .row .col-6 div {
  margin: 0px 5%;
}
.section_2 .container .row .col-6 div h6 {
  color: #1089ff;
  font-size: 15px;
}
.section_2 .container .row .col-6 div h1 {
  font-size: 22px;
  margin: 3% 0px;
}
.section_2 .container .row .col-6 div p {
  margin: 5% 0px;
  font-size: 18px;
}
.section_2 .container .row .col-6 div button {
  width: 200px;
  height: 60px;
  color: white;
  background-color: #1089ff;
  border-radius: 5px;
  border: none;
  margin-top: 3%;
}
.section_2 .container .row .col-4 {
  padding: 0px 2%;
  margin: 7% 0px;
}
.section_2 .container .row .col-4 div i {
  font-size: 50px;
}
.section_2 .container .row .col-4 div h3 {
  margin: 5% 0px;
}
.section_2 .container .row .col-4 div p {
  font-size: 1.1rem;
  color: gray;
}

.section_3 {
  width: 100%;
  position: relative;
}
.section_3 .maindiv-3 {
  width: 100%;
  height: 250px;
  background: url("https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_3 .maindiv-3 .container {
  position: absolute;
  width: 60%;
}
.section_3 .maindiv-3 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_3 .maindiv-3 .container .row .col-5li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_3 .maindiv-3 .container .row .col-5li div {
  text-align: center;
  color: white;
}
.section_3 .maindiv-3 .container .row .col-5li div h1 {
  font-size: 50px;
  margin-bottom: 3%;
}
.section_3 .maindiv-3::before {
  content: "";
  background: rgba(16, 137, 255, 0.677);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.section_4 {
  background-color: rgb(241, 235, 235);
  padding: 5% 0px;
}
.section_4 .container {
  width: 60%;
  margin: 0 auto;
}
.section_4 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_4 .container .row .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0px;
}
.section_4 .container .row .col-12 div {
  text-align: center;
}
.section_4 .container .row .col-12 div h6 {
  color: #1089ff;
  font-size: 16px;
}
.section_4 .container .row .col-12 div .h-4 {
  margin-top: 5%;
  position: relative;
}
.section_4 .container .row .col-12 div .h-4::before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 2px;
  background: #1089ff;
  width: 100%;
}
.section_4 .container .row .col-4 {
  padding: 0px 1%;
  margin-top: 5%;
}
.section_4 .container .row .col-4 div img {
  width: 100%;
}
.section_4 .container .row .col-4 div div {
  background-color: white;
  padding: 2% 1%;
}
.section_4 .container .row .col-4 div div .row {
  display: flex;
  flex-wrap: wrap;
}
.section_4 .container .row .col-4 div div .row .second-div {
  color: gray;
}
.section_4 .container .row .col-4 div div .row i {
  margin-right: 5%;
}
.section_4 .container .row .col-4 div div .row .col-4 {
  display: flex;
  justify-content: end;
  align-items: end;
}
.section_4 .container .row .col-4 div div .row .col-4 button {
  background-color: #1089ff;
  color: white;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.section_5 .container {
  width: 60%;
  margin: 5% auto;
}
.section_5 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_5 .container .row .col-6 img {
  width: 100%;
}
.section_5 .container .row .col-6 div {
  padding: 0px 5%;
}
.section_5 .container .row .col-6 div h6 {
  color: #1089ff;
  font-size: 16px;
}
.section_5 .container .row .col-6 div .h-4 {
  margin-top: 5%;
  position: relative;
}
.section_5 .container .row .col-6 div .h-4::before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 2px;
  background: #1089ff;
  width: 10%;
}/*# sourceMappingURL=style.css.map */