* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
  font-family: "Mulish", sans-serif;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.col-4 {
  width: 33.333%;
}

.col-5li {
  width: 20%;
}

.col-8 {
  width: 66.666%;
}

.nav-top .container {
  width: 60%;
  margin: 2% auto;
}
.nav-top .container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-top .container .row .col-3 .nav-top-div {
  align-items: center;
  display: flex;
  gap: 5%;
}
.nav-top .container .row .col-3 .nav-top-div i {
  font-size: 40px;
}
.nav-top .container .row .col-3 .nav-top-div div h6 {
  font-size: 1.2rem;
  color: #000;
}
.nav-top .container .row .col-3 .nav-top-div div p {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
}

.nav-bottom {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #1089ff;
  padding: 30px 0px;
}
.nav-bottom .container {
  width: 40%;
  margin: 0px auto;
}
.nav-bottom .container ul {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
.nav-bottom .container ul li a {
  color: white;
  font-weight: bolder;
  font-size: 18px;
}
.nav-bottom .container ul .first-li {
  position: relative;
}
.nav-bottom .container ul .first-li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  background: #fff;
  width: 100%;
}

main .section_1 .div-section1 {
  display: flex;
  flex-wrap: wrap;
  color: white !important;
  width: 100%;
  height: 100vh;
  filter: brightness(95%);
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/hero_2.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
main .section_1 .div-section1 .div-section2 {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 90%;
}
main .section_1 .div-section1 .div-section2 div {
  margin-top: 20%;
}
main .section_1 .div-section1 .div-section2 div h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}
main .section_1 .div-section1 .div-section2 div p {
  margin: 5% 0px;
  font-size: 1.1rem;
  font-weight: bolder;
}
main .section_1 .div-section1 .div-section2 div button {
  width: 200px;
  height: 60px;
  color: white;
  background-color: #1089ff;
  border-radius: 5px;
  border: none;
}
main .section_1 .div-section1 .left-icon {
  display: flex;
  align-items: center;
  height: 90%;
}
main .section_1 .div-section1 .left-icon button {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  border: none;
}
main .section_1 .div-section1 .right-icon {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 90%;
}
main .section_1 .div-section1 .right-icon button {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  border: none;
}
main .section_1 .div-section1 .bottom-icon {
  height: 10%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
main .section_1 .div-section1 .bottom-icon img {
  width: 30px;
  height: 50px;
}

.section_2 .container {
  width: 60%;
  margin: 5% auto;
}
.section_2 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_2 .container .row .col-6 img {
  width: 100%;
  height: 100%;
}
.section_2 .container .row .col-6 div {
  margin: 0px 5%;
}
.section_2 .container .row .col-6 div h6 {
  color: #1089ff;
  font-size: 15px;
}
.section_2 .container .row .col-6 div h1 {
  font-size: 22px;
  margin: 3% 0px;
}
.section_2 .container .row .col-6 div p {
  margin: 5% 0px;
  font-size: 18px;
}
.section_2 .container .row .col-6 div button {
  width: 200px;
  height: 60px;
  color: white;
  background-color: #1089ff;
  border-radius: 5px;
  border: none;
  margin-top: 3%;
}
.section_2 .container .row .col-4 {
  padding: 0px 2%;
  margin: 7% 0px;
}
.section_2 .container .row .col-4 div i {
  font-size: 50px;
}
.section_2 .container .row .col-4 div h3 {
  margin: 5% 0px;
}
.section_2 .container .row .col-4 div p {
  font-size: 1.1rem;
  color: gray;
}

.section_3 {
  width: 100%;
  position: relative;
}
.section_3 .maindiv-3 {
  width: 100%;
  height: 250px;
  background: url("https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_3 .maindiv-3 .container {
  position: absolute;
  width: 60%;
}
.section_3 .maindiv-3 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_3 .maindiv-3 .container .row .col-5li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_3 .maindiv-3 .container .row .col-5li div {
  text-align: center;
  color: white;
}
.section_3 .maindiv-3 .container .row .col-5li div h1 {
  font-size: 50px;
  margin-bottom: 3%;
}
.section_3 .maindiv-3::before {
  content: "";
  background: rgba(16, 137, 255, 0.677);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.section_4 {
  background-color: rgb(241, 235, 235);
  padding: 5% 0px;
}
.section_4 .container {
  width: 60%;
  margin: 0 auto;
}
.section_4 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_4 .container .row .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0px;
}
.section_4 .container .row .col-12 div {
  text-align: center;
}
.section_4 .container .row .col-12 div h6 {
  color: #1089ff;
  font-size: 16px;
}
.section_4 .container .row .col-12 div .h-4 {
  margin-top: 5%;
  position: relative;
}
.section_4 .container .row .col-12 div .h-4::before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 2px;
  background: #1089ff;
  width: 100%;
}
.section_4 .container .row .col-4 {
  padding: 0px 1%;
  margin-top: 5%;
}
.section_4 .container .row .col-4 div img {
  width: 100%;
}
.section_4 .container .row .col-4 div div {
  background-color: white;
  padding: 2% 1%;
}
.section_4 .container .row .col-4 div div .row {
  display: flex;
  flex-wrap: wrap;
}
.section_4 .container .row .col-4 div div .row .second-div {
  color: gray;
}
.section_4 .container .row .col-4 div div .row i {
  margin-right: 5%;
}
.section_4 .container .row .col-4 div div .row .col-4 {
  display: flex;
  justify-content: end;
  align-items: end;
}
.section_4 .container .row .col-4 div div .row .col-4 button {
  background-color: #1089ff;
  color: white;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.section_5 .container {
  width: 60%;
  margin: 5% auto;
}
.section_5 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_5 .container .row .first-col img {
  width: 100%;
}
.section_5 .container .row .first-col .margin-div {
  padding: 0px 5%;
}
.section_5 .container .row .first-col .margin-div h6 {
  color: #1089ff;
  font-size: 16px;
}
.section_5 .container .row .first-col .margin-div .h-4 {
  margin-top: 5%;
  position: relative;
}
.section_5 .container .row .first-col .margin-div .h-4::before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 2px;
  background: #1089ff;
  width: 10%;
}
.section_5 .container .row .first-col .margin-div .form_div {
  margin-top: 5%;
  width: 100%;
  padding: 0px !important;
}
.section_5 .container .row .first-col .margin-div .form_div .row_2 {
  display: flex;
  flex-wrap: wrap;
}
.section_5 .container .row .first-col .margin-div .form_div .row_2 .col-6 {
  margin-top: 3%;
  color: gray;
}
.section_5 .container .row .first-col .margin-div .form_div .row_2 .col-6 label {
  font-size: 20px;
}
.section_5 .container .row .first-col .margin-div .form_div .row_2 .col-6 input {
  width: 80%;
  height: 35px;
  margin-top: 3%;
  border: 1px solid rgb(185, 183, 183);
}
.section_5 .container .row .first-col .margin-div .form_div .row_2 .col-12 {
  margin-top: 3%;
  color: gray;
}
.section_5 .container .row .first-col .margin-div .form_div .row_2 .col-12 label {
  font-size: 20px;
}
.section_5 .container .row .first-col .margin-div .form_div .row_2 .col-12 input {
  width: 90%;
  height: 130px;
  margin-top: 3%;
  border: 1px solid rgb(185, 183, 183);
}
.section_5 .container .row .first-col .margin-div .form_div .row_2 .col-12 .input-submit {
  width: 35%;
  height: 50px;
  color: white;
  background: #1089ff;
  border-radius: 8px;
}

.section_7 {
  padding: 4% 0px;
}
.section_7 .container {
  width: 60%;
  margin: 0 auto;
}
.section_7 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_7 .container .row .col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0px;
}
.section_7 .container .row .col-12 div {
  text-align: center;
}
.section_7 .container .row .col-12 div h6 {
  color: #1089ff;
  font-size: 16px;
}
.section_7 .container .row .col-12 div .h-4 {
  margin-top: 5%;
  position: relative;
}
.section_7 .container .row .col-12 div .h-4::before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 2px;
  background: #1089ff;
  width: 100%;
}
.section_7 .container .row .col-3 {
  padding: 0px 2%;
}
.section_7 .container .row .col-3 div {
  text-align: center;
}
.section_7 .container .row .col-3 div .div-img {
  display: flex;
  align-items: end;
  padding: 5%;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/person_1.jpg");
}
.section_7 .container .row .col-3 div .div-img .div-list div {
  width: 40px;
  height: 40px;
  background-color: white;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.section_7 .container .row .col-3 div h1 {
  margin: 5% 0px;
}
.section_7 .container .row .col-3 div p {
  color: #1089ff;
}
.section_7 .container .row .col-3 div .div-img2 {
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/person_2.jpg");
}
.section_7 .container .row .col-3 div .div-img3 {
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/person_3.jpg");
}
.section_7 .container .row .col-3 div .div-img4 {
  background-image: url("https://preview.colorlib.com/theme/waterboat/images/person_4.jpg");
}

.section_8 {
  padding: 4% 0px;
}
.section_8 .container {
  width: 60%;
  margin: 0 auto;
}
.section_8 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_8 .container .row .col-section8 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0px;
}
.section_8 .container .row .col-section8 div {
  text-align: center;
}
.section_8 .container .row .col-section8 div h6 {
  color: #1089ff;
  font-size: 16px;
}
.section_8 .container .row .col-section8 div .h-4 {
  margin-top: 5%;
  position: relative;
}
.section_8 .container .row .col-section8 div .h-4::before {
  content: "";
  position: absolute;
  bottom: -20px;
  height: 2px;
  background: #1089ff;
  width: 100%;
}
.section_8 .container .row .col-4 {
  padding: 0px 2%;
}
.section_8 .container .row .col-4 div .div-word {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  padding: 12% 5% 12% 12%;
}
.section_8 .container .row .col-4 div .div-word .word-p {
  font-size: 15px;
  font-style: italic;
  color: gray;
}
.section_8 .container .row .col-4 div .div-word .word-p i {
  float: right;
  font-size: 25px;
  margin-bottom: 5%;
}
.section_8 .container .row .col-4 div .worddiv-bottom .right-col8 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  align-items: center;
}
.section_8 .container .row .col-4 div .worddiv-bottom .right-col8 .col-4 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.section_8 .container .row .col-4 div .worddiv-bottom .right-col8 .col-8 {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
}
.section_8 .container .row .col-4 div .worddiv-bottom .right-col8 .col-8 .col-12 {
  margin-top: 1%;
}
.section_8 .container .row .col-4 div .worddiv-bottom .right-col8 .col-8 .graycolor {
  color: rgb(189, 186, 186);
}

.section_9 {
  width: 100%;
  position: relative;
}
.section_9 .maindiv-3 {
  width: 100%;
  height: 250px;
  background: url("https://preview.colorlib.com/theme/waterboat/images/hero_2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_9 .maindiv-3 .container {
  position: absolute;
  width: 60%;
  margin: 0 auto;
}
.section_9 .maindiv-3 .container .row {
  display: flex;
  flex-wrap: wrap;
}
.section_9 .maindiv-3 .container .row .col-12 {
  text-align: center;
  color: white;
}
.section_9 .maindiv-3 .container .row .col-12 h1 {
  font-size: 30px;
}
.section_9 .maindiv-3 .container .row .col-12 p {
  font-size: 20px;
  margin: 1% 0px;
}
.section_9 .maindiv-3 .container .row .col-12 button {
  background-color: #ffa139;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
}
.section_9 .maindiv-3::before {
  content: "";
  background: rgba(16, 137, 255, 0.677);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

footer .footer-first-div {
  background-color: rgb(238, 238, 238);
  padding: 5% 0px;
}
footer .footer-first-div .container {
  width: 60%;
  margin: 0px auto;
}
footer .footer-first-div .container .row {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-first-div .container .row .icon-col p {
  color: gray;
  margin: 5% 0px;
}
footer .footer-first-div .container .row .icon-col a {
  color: #1089ff;
}
footer .footer-first-div .container .row .col-8 {
  display: flex;
  flex-wrap: wrap;
}
footer .footer-first-div .container .row .col-8 .footer-h {
  font-size: 17px;
  position: relative;
}
footer .footer-first-div .container .row .col-8 .footer-h::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  background: #1089ff;
  width: 50%;
}
footer .footer-first-div .container .row .col-8 li {
  margin-top: 7%;
}
footer .footer-first-div .container .row .col-8 li a {
  color: #1089ff;
}
footer .footer-first-div .container_2 {
  width: 40%;
  margin: 10% auto 0px auto;
}
footer .footer-first-div .container_2 .footer-bottom p {
  color: gray;
}
footer .footer-first-div .container_2 .footer-bottom p a {
  color: #1089ff;
}/*# sourceMappingURL=style.css.map */