$color-1:black;
$color-2:gray;
$color-3:#1089ff;
$color-4:white;
$color-5:#0854a0;
$color-6:#d8e4f0;
$color-7:#ffa139;
$color-8:#e6871b;
$font-1:'Oswald', sans-serif;
$font-2:'Dancing Script', cursive;